<?xml version="1.0"?>
<launch>

  <arg name="map_width" default="23" />
  <arg name="map_height" default="23" />

  <!-- TODO -->
  <node name="MapMakerNode" pkg="simple_control" exec="map_maker" output="screen">
    <param name="map_width" type="int" value="$(var map_width)" />
    <param name="map_height" type="int" value="$(var map_height)" />
  </node>

  <node name="LocalPlannerNode" pkg="simple_control" exec="local_planner" output="screen">
    <param name="map_width" type="int" value="$(var map_width)" />
    <param name="map_height" type="int" value="$(var map_height)" />
  </node>
  <node name="GlobalPlannerNode" pkg="simple_control" exec="global_planner" output="screen">
    <param name="map_width" type="int" value="$(var map_width)" />
    <param name="map_height" type="int" value="$(var map_height)" />
  </node>
  <node name="FinalPathNode" pkg="simple_control" exec="final_path" output="screen">
    <param name="map_width" type="int" value="$(var map_width)" />
    <param name="map_height" type="int" value="$(var map_height)" />
  </node>
  <node name="TowerToMapNode" pkg="simple_control" exec="tower_to_map" output="screen">
    <param name="map_width" type="int" value="$(var map_width)" />
    <param name="map_height" type="int" value="$(var map_height)" />
  </node>
  <node name="RescueMissionNode" pkg="simple_control" exec="rescue_mission" output="screen">
    <param name="map_width" type="int" value="$(var map_width)" />
    <param name="map_height" type="int" value="$(var map_height)" />
  </node>



</launch>
